@import url('https://fonts.googleapis.com/css2?family=Vollkorn:wght@600;900&display=swap');

html {
  margin: 0;
  padding: 0;
  background: white;
  font-size: 10px;
  font-family: 'Montserrat';
}

* {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
